#PORTA DO SERVIDOR DO EXPRESS
PORT=3000

# CONFIGURAÇÃO DO BANCO
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=admin
DB_DATABASE=chamados_api_db
PG_DATABASE_ADMIN=root
DB_DATABASE_ADMIN_PASSWORD=admin

# CAMINHO PARA O SQL DO BANCO
DB_DATABASE_FILE_PATH=./src/database/banco-mysql.sql

# CONFIGURAÇÃO JWT
JWT_ACCESS_SECRET=meu-segredo-jwt-access
JWT_REFRESH_SECRET=meu-segredo-jwt-refresh
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# GOOGLE CAPTCHA
# RECAPTCHA_SECRET_KEY=sua-senha-secreta-captcha